{% load tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">    
<html lang="en">
    <head>
        <title>Sarah Foote</title>
        <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"></link>
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css"></link>        
        <script src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js"></script>
        <script src="{{ MEDIA_URL }}js/RelatedObjectLookups.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/cufon-yui.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/Quicksand_Bold_700.font.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/Quicksand_Dash_200.font.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/Quicksand_Light_300.font.js" type="text/javascript"></script>
        <script type="text/javascript">
            Cufon.replace('h1', { fontFamily: 'Quicksand Dash' });
            Cufon.replace('#main-nav', { fontFamily: 'Quicksand Bold' });
            Cufon.replace('h2 ', { fontFamily: 'Quicksand Light' });
        </script>
        {% block extra_head %}{% endblock %}
        {{ form.media }}
    </head>
    <body>
        <div id="container">
            {% block header %}
            {% if user.is_authenticated %}
                <div class="admin"><a href="{% url logout %}">logout</a></div>
            {% endif %}
            <h1 id="logo">
                <img src="{{ MEDIA_URL }}img/logo.png" alt="Sarah Foote" />
                <!-- <a href="/"><span class="firstname">SARAH</span><br/><span class="lastname">FOOTE</span></a> -->
            </h1>
            
            {% url main_post_list as archive %}
            {% url main_list_items as buy %}
            {% url main_list_press as press %}
            {% url main_about as about %}
            {% url main_contact as contact %}            
            
            <ul id="main-nav">
                <li class="{% active request buy %}"><a href="{{ buy }}">BUY</a></li>
                <li class="{% active request archive %}"><a href="{{ archive }}">BLOG</a></li>
                <li class="{% active request press %}"><a href="{{ press }}">PRESS</a></li>
                <li class="{% active request about %}"><a href="{{ about }}">ABOUT</a></li>                    
                <li class="{% active request contact %}"><a href="{{ contact }}">CONTACT</a></li>
            </ul>

            {% endblock %}
            
            {% block msg %}{% if msg %}<div class="msg">{{ msg }}</div>{% endif %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}
                <div class="clear"></div>
                <div id="sarah-footer">copyright &copy; Sarah Foote</div>            
            {% endblock %}
        </div>
        <!-- Start Quantcast tag -->
        <script type="text/javascript">
            _qoptions={
                qacct:"p-fd58DOFx87k3Y"
            };
        </script>
        <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
        <noscript>
            <img src="http://pixel.quantserve.com/pixel/p-fd58DOFx87k3Y.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
        </noscript>
        <!-- End Quantcast tag -->
        <script type="text/javascript"> Cufon.now(); </script>

    </body>
</html>
